node_modules
**/node_modules
.next
**/.next
.git
**/.git
.gitignore
.openclaw
**/.openclaw
.playwright-cli
.env
.env.*
*.log
*.md
!README.md
openspec
.codex
HEARTBEAT.md
IDENTITY.md
SOUL.md
TOOLS.md
USER.md
